body {
  margin: 0;
} 

/*
  light colors
*/
.red-light {
  background-color: red;
  border-radius: 50%;
  width: 80px;
  height:80px;
  margin: auto;
  margin-top: 20px;
  background-image: radial-gradient(rgb(224, 143, 143), transparent);
}

.yellow-light {
  background-color: yellow;
  border-radius: 50%;
  width: 80px;
  height:80px;
  margin: auto;
  margin-top: 20px;
  background-image: radial-gradient(rgb(238, 233, 165), transparent);
}

.green-light {
  background-color: green;
  border-radius: 50%;
  width:80px;
  height:80px;
  margin: auto;
  margin-top: 20px;
  background-image: radial-gradient(lime, transparent);
}

/* shadows colors */
.red-light-shadow {
  box-shadow: 0 0 6em #ff3333;
}
.yellow-light-shadow{
  box-shadow: 0 0 6em #ffff33;
}
.green-light-shadow{
  box-shadow: 0 0 6em #33ff33;
}


#post {
  background-color: rgb(39, 38, 38);
  margin: auto;
  width: 20px;
  height: 300px;
}

#container {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -160px;
  background-color: rgb(39, 38, 38);
  width: 120px;
  height: 320px;
  border-radius: 30px;
}